---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Less hands, More robots" id="intro">
  <Fragment slot="lead">
    Autonomous AI-Training for 
    <span class="text-primary">Robot-Assisted</span> Sorting to
    <span class="text-primary">Improve</span> Recycling
    <span class="text-primary">Efficiency.</span>
  </Fragment>
  <Fragment slot="lead">
    Our capstone project aims to 
    <span class="text-primary">improve</span>
    the 
    <span class="text-primary">computer vision model</span>
     
    used in Portland's 
    recycling plants to improve the accuracy of 
    <span class="text-primary">automatic waste sorting. </span>
  </Fragment>
</ContentSection>
